<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Costly Sanctioning XML-ized experiment round configuration</comment>
<entry key="hostname">@SERVER_ADDRESS@</entry>
<entry key="port">@PORT_NUMBER@</entry>
<entry key="round0">round0.xml</entry>
<entry key="round1">round1.xml</entry>
<entry key="round2">round2.xml</entry>
<entry key="round3">round3.xml</entry>
<entry key="round4">round4.xml</entry>
<entry key="round5">round5.xml</entry>
<entry key="round6">round6.xml</entry>
<entry key='quiz-correct-answer-reward'>0.10</entry>
<entry key='clients-per-group'>2</entry>
<entry key="wait-for-participants">true</entry>
<entry key="number-of-rounds">7</entry>
<entry key="duration">240</entry>
<entry key="use-background-texture">true</entry>
<entry key="use-token-image">false</entry>
<entry key="facilitator-instructions">
<![CDATA[
<p>
    This facilitator interface allows you to control the experiment.  In general you
    will be following a sequence similar to this:
    <ol>
        <li>Show instructions</li>
        <li>Start round</li>
        <li>After round is over
            <ol>
                <li>show trust game if necessary</li>
                <li>start standalone chat round if necessary</li>
            </ol>
        </li>
        <li>Goto 1.</li>
    </ol>
</p>
]]>
</entry>

<entry key='field-of-vision-instructions'>
<![CDATA[
Your vision is limited in this experiment.  The area that is visible to you will be
shaded.
]]>
</entry>

<entry key="welcome-instructions">
<![CDATA[
<h1>Welcome</h1>
<hr>
<p>
Welcome to the experiment. The experiment will begin shortly after everyone has been
assigned a station.
<br><br>
Please <b>wait quietly</b> and <b>do not close this window, open any other applications, or communicate with any of the other participants</b>.
</p>
]]>
</entry>

<entry key="general-instructions">
<![CDATA[
<h1>General Instructions</h1>
<hr>
<h2>How to participate</h2>
<hr>
<p>
You will appear on the screen as a yellow dot <img src="@CODEBASE_URL@/images/gem-self.gif"></img>. 
You can move by pressing the four arrow keys on your keyboard.  
</p>
<p>
    You can move up, down, left, or right.  You have to press a key for each and
    every move of your yellow dot.  As you move around you can collect green diamond
    shaped tokens <img src="@CODEBASE_URL@/images/gem-token.gif"></img> and earn two
    cents for each collected token.  To collect a token, move your yellow dot over a
    green token and <b>press the space bar</b>.  Simply moving your avatar over a
    token does NOT collect that token.
</p>

<h2>Tokens</h2>
<hr>
<p>
The tokens that you collect have the potential to regenerate.  After you have
collected a green token, a new token can re-appear on that empty cell. The rate at
which new tokens appear is dependent on the number of adjacent cells with tokens.
The more tokens in the eight cells that surround an empty cell, the faster a new
token will appear on that empty cell.  In other words, <b>existing tokens can
generate new tokens</b>.  To illustrate this, please refer to Image 1 and Image 2.
The middle cell in Image 1 denoted with an X has a greater chance of regeneration
than the middle cell in Image 2.  When all neighboring cells are empty, there is
<b>no chance for regeneration</b>.
</p>
<table width="100%">
<tr>
<td align="center"><b>Image 1</b></td>
<td align="center"><b>Image 2</b></td>
</tr>
<tr>
<td align="center">
    <img src="@CODEBASE_URL@/images/8neighbors.jpg" alt="image 1">
</td>
<td align="center">
    <img src="@CODEBASE_URL@/images/5neighbors.jpg" alt="image 2">
</td>
</tr>
</table>

<h2>Best Strategy</h2>
<hr>
<p>
The chance that a token will regenerate on an empty cell increases as there are
more tokens surrounding it.  Therefore, you want to have as many tokens around an
empty cell as possible.  However, you also need empty cells to benefit from this
regrowth.  The best arrangement of tokens that maximizes overall regrowth is the
checkerboard diagram shown below.
<br>
<img src="@CODEBASE_URL@/images/foraging-checkerboard.png" alt="Checkerboard Resource">
</p>
<h2>Practice round</h2>
<hr>
<p>
We will soon begin a practice round, where you will have {duration} to practice with the experimental environment. The
decisions you make in this round will NOT influence your earnings. 
</p>
]]>
</entry>

<entry key='trust-game-instructions'>
<![CDATA[
<h1>Instructions</h1>
<hr>
<p>
    You will now participate in an exercise where you will be matched with a random
    person in your group. In this exercise there are two roles, Player 1 and Player 2.
    Your job is to design strategies for both Player 1 and Player 2 roles.  When you
    are randomly paired with another member of your group you may be selected as
    Player 1 <b>or</b> Player 2.  The results of randomly pairing your strategies
    with the other group member's strategies will be shown to you at the <b>end of
    the experiment</b>.
</p>

<h2>How to participate</h2>
<hr>
<ol>
    <li>Player 1 will first receive an endowment of one dollar and has to decide <b>how much to keep</b>.  The remaining amount is <b>sent to Player 2</b>.
    <li>The amount Player 1 sends to Player 2 is tripled by the system and then
        given to Player 2.  Player 2 must then decide <b>how much to keep</b> and <b>how much to send back to Player 1</b>.
</ol>
<p>
For example, if Player 1 sends 0 cents to Player 2, Player 1 earns 1 dollar and
Player 2 earns 0 cents. However, if Player 1 sends 1 dollar to Player 2, 3 dollars
would be sent to Player 2.  Player 2 then decides to return $1.75 back to Player 1.
In this case, Player 1 earns $1.75, and Player 2 earns $1.25.
</p>
<p>
Please fill in the following form to design your strategies as Player 1 or Player 2.
<br>
<b>If you have any questions, please raise your hand.  Are there any questions?</b>
</p>
]]>
</entry>

<entry key="chat-instructions">
<![CDATA[
<p>
You can chat with the other participants in your group during this round.
You may discuss any aspect of the experiment with the other participants in your group with two exceptions:
<ol>
    <li>You <b>may not promise side-payments after the experiment is completed or threaten anyone with any consequence after the experiment is finished</b>.</li>
    <li>You <b>may not reveal your actual identity</b></li>
</ol>
<p>
We are monitoring the chat traffic while you chat. If we detect any violation of the
rules we will have to stop the experiment and remove the offending group from the
room.
</p>
<p>
    You will see other participants labeled from A to {self.lastChatHandle} in the chat
    window.  You can send a chat message by typing into the textfield and pressing
    the enter key.
</p>
]]>
</entry>
<entry key="same-as-previous-round-instructions">
<![CDATA[
<h3>Round {self.roundNumber} Instructions</h3>
<hr>
<p>Round {self.roundNumber} is the same as the previous round.</p>
<p>The length of this round is {duration}.</p>
<p><b>Do you have any questions?</b> If you have any questions at this time please raise your hand and someone will come over to your station and answer it.</p>
]]>
</entry>
<entry key='facilitator-debriefing'>
<![CDATA[
<h3>Round {self.roundNumber} results</h3>
<hr>
<table border=1 cellspacing=3 cellpadding=3>
<tr>
<th>Participant</th><th>Current tokens</th><th>Current income</th><th>Quiz earnings</th><th>Trust game earnings</th><th>Total income</th>
</tr>
{clientDataList: {data | 
<tr align="RIGHT"><td>{data.id}</td><td>{data.currentTokens}</td><td>{data.currentIncome}</td><td>{data.quizEarnings}</td><td>{data.trustGameEarnings}</td><td>{data.grandTotalIncome}</td></tr>
}}
</table>
]]>
</entry>
<entry key='client-debriefing'>
<![CDATA[
<h1>{if (self.practiceRound)}Practice Round{else}Round {self.roundNumber}{endif} Results</h1>
<hr>
<ul>
<li>Tokens collected in this round: {clientData.currentTokens}</li>
<li>Income from tokens collected: {clientData.currentIncome}</li>
<li>Quiz earnings: {clientData.quizEarnings}</li>
<li>Show up payment: {showUpPayment}</li>
</ul>
{if (showExitInstructions && !clientData.trustGameLog.empty) }
<h2>Trust Game Earnings</h2>
<hr>
<ul>
{clientData.trustGameLog: {trustGameLog|
<li>Trust Game #{i}: {trustGameLog}</li>
}}
</ul>
Your total trust game earnings: <b>{clientData.trustGameEarnings}</b>.
{endif}
<h2>Total Income</h2>
<hr>
<p>
Your <b>total income</b> is <b>{clientData.grandTotalIncome}</b>.
</p>
{if (showExitInstructions)}
<h2>Exit Survey</h2>
<hr>
<p>
This was the last round, but not the end of the experiment. We ask that you please carefully fill out a brief survey as we prepare your payments.
</p>
<h2>Payment</h2>
<hr>
<p>
When payments are ready we will call you up one by one. Please wait until your
computer number, <b>{clientData.id}</b>, is called to turn in your survey and
receive payment.  Please answer the survey carefully and thank you for
participating. 
</p>
<p>
NOTE: Please <b>answer the survey completely (there may be a back side)</b>
and <b>bring all your belongings with you</b> when you come up to
receive your payment to help us speed up the payment process.
</p>
{endif}
]]>
</entry>
</properties>
