src/main/resources/configuration/*.*
src/main/webapp/facilitator.jnlp
src/main/webapp/client.jnlp
src/main/webapp/images/*
.idea
*.iml
*~
target
*.jar
experiment-data
build.properties
*.log*
.classpath
.project
tags
*.zip
manifest.mf
.settings
*.orig
docs
*.jks
*.save
/bin/
lib
