docker/data
docker/shared
.idea
*.iml
*~
target
*.jar
experiment-data
build.properties
*.log*
.classpath
.project
tags
*.zip
manifest.mf
.settings
*.orig
docs
*.jks
*.save
/bin/
lib

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# data processing directories
incoming
processed
