# Any configuration properties set here will override the defaults provided in
# the build.xml file.  If you are using the builtin Maven Jetty webserver, you
# just need to change:
# 1. server.address
# 2. codebase.url port if you are running Jetty on a port other than 8080

# Set to the IP address or domain name of the experiment server.
#  
# NOTE: Due to restrictions by from Java security model, this must be the same as the IP address/domain name of the
# webserver you are deploying the software on.
server.address=localhost

# Filesystem path to experiment's client and facilitator JNLP and jar files, must be accessible & mounted by the webserver
#
# NOTE: for windows, use double backslashes as a path separator
# web.dir=C:\\WebServer\\foraging
#
# Default value for Maven jetty webserver
web.dir=src/main/webapp

# The URL that maps to the path above.  If you don't mind using "foraging" as
# part of the URL you can just set the server.address and leave this property
# blank. 
#
# The build.xml that loads this properties file defaults to ${server.address} + "/foraging"
# 
# Default value for Maven jetty webserver
codebase.url=http://${server.address}:8080

# The experiment server port used to communicate with each individual experiment client
server.port=16001

# SESEF framework version: https://github.com/virtualcommons/sesef 
sesef.version=0.9.6
